<div class="container">
  <ul class="list-group">
    <li class="list-item"><input type="checkbox" value="1" (change)="oncheckStudnet($event.target.value)"><span class="checkbox">Aravind</span></li>
    <li class="list-item"><input type="checkbox" value="2" (change)="oncheckStudnet($event.target.value)"><span class="checkbox">Aravind</span></li>
    <li class="list-item"><input type="checkbox" value="3" (change)="oncheckStudnet($event.target.value)"><span class="checkbox">Aravind</span></li>
  </ul>
</div>